[submodule "qmk_firmware"]
	path = qmk_firmware
	url = https://github.com/micahyy/qmk_582.git
[submodule "utils/toolchain"]
	path = utils/toolchain
	url = https://github.com/Huckies/riscv-none-embed-gcc.git
[submodule "qmk_porting/keyboards_private"]
	path = qmk_porting/keyboards_private
	url = https://github.com/O-H-M2/keyboards_private.git

